.indicator-assessment1 {
    position: absolute;
    top: 64px;
    left: 520px;
    font-size: var(--font-size-lg);
    font-weight: 600;
  }
  .felt-moments-of {
    position: absolute;
    top: 227px;
    left: 230px;
    font-weight: 500;
    display: inline-block;
    width: 981px;
    height: 31px;
  }
  .desktop-1-child,
  .desktop-1-child1,
  .desktop-1-child2,
  .desktop-1-inner,
  .desktop-1-item {
    position: absolute;
    top: 304px;
    left: 367px;
    border-radius: var(--br-sm);
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 684px;
    height: 66px;
  }
  .desktop-1-child1,
  .desktop-1-child2,
  .desktop-1-inner,
  .desktop-1-item {
    top: 401px;
  }
  .desktop-1-child1,
  .desktop-1-child2,
  .desktop-1-inner {
    top: 498px;
  }
  .desktop-1-child1,
  .desktop-1-child2 {
    top: 595px;
  }
  .desktop-1-child2 {
    top: 692px;
  }
  .never1,
  .occasionally1 {
    position: absolute;
    top: 319px;
    left: 676px;
    font-weight: 500;
  }
  .occasionally1 {
    top: 416px;
    left: 618px;
  }
  .all-of-the1,
  .half-of-the1,
  .most-of-the1 {
    position: absolute;
    top: 513px;
    left: 609px;
    font-weight: 500;
  }
  .all-of-the1,
  .most-of-the1 {
    top: 610px;
    left: 601px;
  }
  .all-of-the1 {
    top: 707px;
    left: 620px;
  }
  .desktop-1-child3,
  .desktop-1-child4 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: var(--color-gray-100);
    position: absolute;
    top: 818px;
    left: 527px;
    border-radius: var(--br-md);
    width: 170px;
    height: 56px;
  }
  .desktop-1-child4 {
    background-color: var(--color-indigo);
    left: 744px;
  }
  .next1,
  .previous1 {
    position: absolute;
    top: 827px;
    left: 793px;
    font-weight: 500;
    color: var(--color-white);
  }
  .previous1 {
    left: 547px;
    color: var(--color-gray-300);
  }
  .desktop-1-child5 {
    position: absolute;
    top: 144px;
    left: 684px;
    width: 73px;
    height: 73px;
  }
  .div1 {
    position: absolute;
    top: 162px;
    left: 714px;
    font-weight: 500;
    color: var(--color-white);
  }
  .desktop-1 {
    position: relative;
    background-color: var(--color-gray-200);
    width: 100%;
    height: 1024px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-black);
    font-family: var(--font-montserrat);
  }